@font-face{
	font-family: 'Raleway';
    src: url('static/Raleway-VariableFont_wght.ttf') format('truetype');
}

body{
	font-family: Raleway, sans-serif;
	margin: 0 auto;
	max-width: 1400px;
	min-width: 350px;
}

/* page complete sauf footer */

#page_complete{
	width: 95%;
	height: auto;
	margin: 0 auto;
}

/* style de l'entete et du menu */

#en_tete{
	display: flex;
	position: relative;
	align-items: flex-end;
	justify-content: space-between;
	height: auto;
}

nav{
	height: inherit;
}

#menu{
	display: flex;
	align-items: flex-end;
	margin: 0;
	padding: 0;
	height: inherit;
}

#menu li{
	display: flex;
	align-items: flex-end;
	list-style-type: none;
	height: inherit;
}

#menu a{
	display: inline-block;
	padding: 50px 25px 15px 25px;
	color: black;
	text-decoration: none;
}

#menu #inscrire{
	font-weight: bold;
	color: #0065FC;
}

#menu a:hover{
	color: #0065FC;
	border-top: 2px solid #0065FC;
}

/* =============== media queries smartphone et tablette (iphone 8) pour l'en tete =============== */

@media all and (max-width: 768px){
	#page_complete{
		width: 90%;
	}
	#en_tete{
		flex-wrap: wrap;
	}
}
@media all and (max-width: 420px){
	#page_complete{
		width: 100%;
	}

	#logo{
		width: 50%;
		height: inherit;
		position: absolute;
		left: 20px;
		top: 40px;
	}
	#menu{
		flex-wrap: wrap-reverse;
		
	}
	#menu li{
		width: 50%;
		justify-content: center;
	}
	#menu li:last-child{
		margin-left: 220px;
	}
	#menu a{
		width: 100%;
		text-align: center;
		border-bottom: 2px solid silver;
	}
	#menu a:hover{
		border-top: none;
		border-bottom: 2px solid #0065FC;
	}
	#menu #inscrire{
		border:none;
	}
	#menu #inscrire:hover{
		border:none;
	}
}

/*style de la première section, localisation et filtres*/

#localisation_filtres{
	display: flex;
	flex-direction: column;
}
#localisation_filtres h2{
	margin-bottom: 0;
}
#localisation_filtres p{
	margin-bottom: 25px;
}

#localisation{
	display: flex;
	position: relative;
	height: 50px;
}

#bouton_map{
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 50px;
	height: inherit;
	background-color: #F2F2F2;
	border:none;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#localisation input{
	width: 200px;
	padding: 0 15px;
	font-weight: bold;
	font-size: 1em;
	border-left: none;
	border-right: none;
	border-top:1px solid #F2F2F2;
	border-bottom:1px solid #F2F2F2;
}

#bouton{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-left: none;
	background-color: #0065FC;
	color: white;
	border: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#bouton_logo{
	display: none;
}

#results{
	margin: 40px 0 20px 0;
}

@media all and (max-width: 768px){
	#localisation_filtres{
		width: 90%;
	}
	#localisation input{
		width: 70%;
		max-width: 180px;
	}
}
@media all and (max-width: 420px){
	#localisation_filtres{
		margin: 0 auto;
	}
	#bouton{
		display: none;
	}
	#bouton_logo{
		display: inline-block;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border:none;
		border-radius: 15px;
		color: white;
		background-color: #0065FC;
		position: absolute;
		left: 250px;
	}
	#bouton_logo i{
		background-color: transparent;
	}
}

/*style des bouton de filtres*/

#filtres{
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	height: auto;
	margin:0;
}

#filtres h3{
	display: flex;
	display: inline-block;
	margin: 40px 0 0 0;
	padding: 0 15px 0 30px;
	align-items: center;
	padding-right: 30px;
	padding-left: 0;
}

#filtres button{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 50px;
	padding: 0 20px 0 50px;
	margin:20px 20px 0 0;
	font-size: 1.15em;
	font-weight: bold;
	border: 2px solid #F2F2F2;
	background-color: white;
	border-radius: 30px;
}

#filtres button:hover{
	background-color: #DEEBFF;
	color: #0065FC;
}

#logo_economique{
	display: flex;
	position: absolute;
	top: -2px;
	left: -10px;
	height: 50px;
	width: 50px;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	border-radius: 50%;
	color: #0065FC;
	background-color: #DEEBFF;
}

#logo_child{
	display: flex;
	position: absolute;
	top: -2px;
	left: -10px;
	height: 50px;
	width: 50px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: #0065FC;
	background-color: #DEEBFF;
}

#logo_romantique{
	display: flex;
	position: absolute;
	top: -2px;
	left: -10px;
	height: 50px;
	width: 50px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: #0065FC;
	background-color: #DEEBFF;
}

#logo_dog{
	display: flex;
	position: absolute;
	top: -2px;
	left: -10px;
	height: 50px;
	width: 50px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: #0065FC;
	background-color: #DEEBFF;
}

#results{
	display: flex;
	align-items: center;
	height: 30px;
}

#results p{
	margin: 0;
	padding-left: 10px;
}

#logo_info{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #0065FC;
	font-size: 0.8em;
	width: 25px;
	height: 25px;
	border: 1px solid  #F2F2F2;
	border-radius: 50%;
}

@media all and (max-width: 1024px){
	#filtres{
		flex-wrap: wrap;
	}
	#animaux{
		box-sizing: border-box;
		margin-top: 20px;
	}
}

@media all and (max-width: 420px){
	#filtres{
		flex-wrap: wrap;
	}
	#filtres h3:first-child{
		width: 100%;
	}
	#filtres button{
		margin:20px 20px 0 0;
	}
}

/*section 2 hébergement + les plus populaires*/

#deuxieme_section{
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	height: auto;
}

#hebergements{
	display: flex;
	flex-direction: column;
	width: 58%;
	min-width: 350px;
	padding: 35px;
	margin: 20px 0;
	background-color: #F2F2F2;
	border-radius: 20px;
}

#hebergements h2{
	display: flex;
	margin: 0 0 35px 0;

	
}

#plus_hebergement{
	display: block;
	display: flex;
	text-decoration: none;
	color: black;
}

#plus_hebergement h3{
	margin:0; 
}

#galerie_hebergements{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	box-sizing: border-box;
}

.carte_hebergement{
	display: block;
	display: flex;
	flex-direction: column;
	width: 30%;
	padding: 5px;
	margin: 0 0 35px 0;
	background-color: white;
	border-radius: 20px;
	text-decoration: none;
	box-sizing: border-box;
	box-shadow: 0 0 10px -2px #BFBEBD;
}

.carte_hebergement > h3{
	margin: 5px 0;
	padding-left: 15px;
	color: black;
	font-size: 1em;
}

.carte_hebergement > p{
	margin: 5px 0;
	padding-left: 15px;
	color: black;
	font-size: 1em;
}

.carte_hebergement p:last-child{
	color: #0065FC;
	font-size: 0.8em;
}

.image_hebergement{
	display: block;
	width: 100%;
	height: 105px;
	border-radius: 15px 15px 0 0;
}

@media all and (max-width: 1295px){
	#hebergements{
		width: 100%;
		min-width: 610px;
	}
}

@media all and (max-width: 766px){
	#hebergements{
		width: 75%;
		min-width: 350px;
		margin:20px auto;
		padding: 35px 0 0 0;
		align-items: center;
	}
	#hebergements h2{
		width: 90%;
	}
	#galerie_hebergements{
		flex-direction: column;
		align-items: center;
	}
	.carte_hebergement{
		width: 90%;
	}
	#plus_hebergement{
		width: 90%;
		margin-bottom: 20px;
	}
}
@media all and (max-width: 420px){
	#hebergements{
		width: 100%;
		background-color: transparent;
	}
	
}

/* Style les plus populaires */

#populaires {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 28%;
	min-width: 350px;
	margin: 20px 0 20px 20px;
	padding: 35px;
	background-color: #F2F2F2;
	border-radius: 20px;
}

#titre_populaire{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

#titre_populaire h2{
	width: 100%;
	margin: 0;
	color: black;
}
#titre_populaire a{
	color: black;
	font-size: 1.5em;
}

.description_populaire{
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
	color: black;
	margin: 0;
	padding: 5px 30px 0 5px;
}

.hebergements_populaires{
	display: block;
	display: flex;
	width: 100%;
	margin: 35px 0 0 0;
	padding: 5px;
	text-decoration: none;
	background-color: white;
	box-sizing: border-box;
	border-radius: 20px;
	box-shadow: 0 0 10px -2px #BFBEBD;
}

.hebergements_populaires h3, p{
	margin: 10px;
	font-size: 1em;
}

.image_populaire{
	display: block;
	width: 35%;
	height: 130px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

@media all and (max-width: 1295px){
	#populaires{
		width: 100%;
		min-width: 610px;
		margin: 20px 0;
	}
	#galerie_populaires{
		display: flex;
		justify-content: space-between;
	}
	.hebergements_populaires{
		flex-direction: column;
		width: 30%;
	}
	.image_populaire{
		width: 100%;
		border-top-right-radius: 15px;
		border-bottom-left-radius: 0;
	}
}

@media all and (max-width: 766px){
	#populaires{
		width: 75%;
		min-width: 350px;
		margin:20px auto;
		padding: 35px 0;
		align-items: center;
	}
	#galerie_populaires{
		flex-direction: column;
		align-items: center;
	}
	#titre_populaire{
		width: 90%;
	}
	.hebergements_populaires{
		flex-direction: row;
		width: 90%;
		min-width: 320px;
		box-sizing: border-box;
	}
	.image_populaire{
		width: 35%;
		border-top-right-radius: 0;
		border-bottom-left-radius: 15px;
	}
}

@media all and (max-width: 420px){
	#populaires{
		width: 100%;
		min-width: 100%;
		padding: 20px 0;
		border-radius: 0;
		align-items: center;
	}
	
	.hebergements_populaires{
		width: 90%;
	}
}

/* style des etoiles, 5 etoiles 4 etoiles et 3 etoiles */

.five_stars{
	font-size: 0.8em;
	color: #0065FC;
}
.four_stars{
	font-size: 0.8em;
	color: #0065FC;
}
.four_stars i:last-child{
	color: #F2F2F2;
}
#three_stars i:nth-child(4){
	color: #F2F2F2;
}
#three_stars i:last-child{
	color: #F2F2F2;
}
/* style des activités */

#activites{
	display: flex;
	flex-direction: column;
	width: 100%;
}

#activites h2{
	margin:20px 0 35px 0;
}

#activites h3{
	display: flex;
	align-items: center;
	box-sizing: border-box;
	margin: 0;
	padding-left: 15px;
	height: 50px;
	font-size: 1em;
}

#activites a{
	text-decoration: none;
	color: black;
}

#galerie_activites{
	display: flex;
	justify-content: space-between;
	height: auto;
}

.group_activites{
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	width: 50%;
}

#group_one{
	margin-right: 35px;
}

#vieux_port{
	display: block;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 1px #C6C6C6;
	width: 47%;
	height: 450px;
}

#img_vieux_port{
	display: block;
	width: 100%;
	height: 400px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#pomegues_frioul{
	display: flex;
	flex-direction: column;
	width: 47%;
	height: 450px;
}

#pomegues{
	display: block;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 250px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 1px #C6C6C6;
}

#image_pomegues{
	display: block;
	width: 100%;
	height: 200px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#frioul{
	display: block;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 160px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 1px #C6C6C6;
	margin-top: 35px;
}

#image_frioul{
	display: block;
	width: 100%;
	height: 110px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#calanques{
	display: block;
	display: flex;
	flex-direction: column;
	width: 47%;
	height: 450px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 1px #C6C6C6;
}

#image_calanques{
	display: block;
	width: 100%;
	height: 400px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#notre_dame_longchamp{
	display: flex;
	flex-direction: column;
	width:47%;
	height: 450px;
}

#notre_dame{
	display: block;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 205px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 1px #C6C6C6;
}

#image_notre_dame{
	display: block;
	width: 100%;
	height: 155px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#longchamp{
	display: block;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 205px;
	margin-top: 35px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 1px #C6C6C6;
}

#image_longchamp{
	display: block;
	width: 100%;
	height: 155px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

@media all and (max-width: 1295px){
	#activites{
		width: 100%;
	}
	#activites h2{
		margin-left: 35px;
	}
	#galerie_activites{
		width: 100%;
		min-width: 650px;
		margin: 0 auto;
	}
	.group_activites{
		flex-direction: column;
		width: 100%;
	}
	#vieux_port{
		width: 100%;
		height: 450px;
		margin-bottom: 35px;
	}
	#img_vieux_port{
		width: 100%;
		height: 400px;
	}
	#pomegues_frioul{
		width: 100%;
	}
	#pomegues{
		width: 100%;
		height: 205px;
	}
	#image_pomegues{
		width: 100%;
		height: 155px;
	}
	#frioul{
		width: 100%;
		height: 205px;
	}
	#image_frioul{
		width: 100%;
		height: 155px;
	}
	#calanques{
		width: 100%;
		margin-bottom: 35px;
	}
	#notre_dame_longchamp{
		width: 100%;
	}
}

@media all and (max-width: 766px){
	#activites h2{
		width: 75%;
		margin: 20px auto 35px auto;
	}
	#galerie_activites{
		width: 75%;
		min-width: 320px;
		flex-direction: column;
	}
	#vieux_port{
		height: 205px;
	}
	#img_vieux_port{
		height: 155px;
	}
	#pomegues_frioul{
		margin-bottom: 35px;
	}
	#calanques{
		height: 205px;
	}
	#image_calanques{
		height: 155px;
	}
}
@media all and (max-width: 420px){
	#activites{
		align-items: center;
	}
	#galerie_activites{
		width: 90%;
	}
	#activites h2{
		width: 90%;
	}
	#group_one{
		margin-right: 0;
	}
}

/* style du footer */

footer{
	display: flex;
	background-color: #F2F2F2;
	margin-top: 60px;
	padding: 60px;
}

footer a{
	text-decoration: none;
	color: black;
}

footer ul{
	list-style-type: none;
	line-height: 1.8em;
	padding: 0;
}

footer h3{
	margin-top: 0;
}

#a_propos{
	width: 34%;
}

#nos_hebergements{
	width: 33%;
}

#assistance{
	width: 33%;
}
@media all and (max-width: 766px){
	footer{
		flex-direction: column;
	}
	#a_propos{
		width: 100%;
	}
	#nos_hebergements{
		width: 100%;
	}
	#assistance{
		width: 100%;
	}
}