body
{
	margin: 0 auto;
	min-width: 400px;
}
#page_complete
{
	width: 90%;
	margin: 0 auto;
}
/* style de l'entete et du menu */
#en_tete
{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	height: 90px;
}
nav
{
	height: inherit;
}
#menu
{
	display: flex;
	align-items: flex-end;
	margin: 0;
	padding: 0;
	height: inherit;
}

li
{
	display: flex;
	align-items: flex-end;
	list-style-type: none;
	height: inherit;
}
li a
{
	display: inline-block;
	padding: 50px 25px 15px 25px;
	color: black;
	text-decoration: none;
}

#inscrire
{
	font-weight: bold;
	color: #0065FC;
}
li a:hover
{
	color: #0065FC;
	border-top: 2px solid #0065FC;
}
/*style de la première section, localisation et filtres*/
#localisation
{
	display: flex;
	height: 50px;
}
#localisation i
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: inherit;
	background-color: #F2F2F2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;

}
#localisation input
{
	border-left: none;
	border-right: none;
	border-top:1px solid #F2F2F2;
	border-bottom:1px solid #F2F2F2;
}
#bouton
{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-left: none;
	background-color: #0065FC;
	color: white;
	border: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
/*style des bouton de filtres*/
#filtres
{
	display: flex;
	height: 30px;
	margin: 20px 0;
}
#filtres h3
{
	display: inline-block;
	margin: 0;
	padding: 0 15px 0 30px;
}
#filtres h3:first-child
{
	display: flex;
	align-items: center;
	padding-right: 30px;
	padding-left: 0;
}
#filtres button
{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: inherit;
	padding: 0;
	margin: 0 20px;
	border: 2px solid #F2F2F2;
	background-color: white;
	border-radius: 15px;
}
#logo_economique
{
	display: flex;
	position: absolute;
	top: -2px;
	left: -10px;
	height: inherit;
	width: 30px;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	border-radius: 50%;
	color: #0065FC;
	background-color: #DEEBFF;
}
#logo_child
{
	display: flex;
	position: absolute;
	top: -2px;
	left: -10px;
	height: inherit;
	width: 30px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: #0065FC;
	background-color: #DEEBFF;
}
#logo_romantique
{
	display: flex;
	position: absolute;
	top: -2px;
	left: -10px;
	height: inherit;
	width: 30px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: #0065FC;
	background-color: #DEEBFF;
}
#logo_dog
{
	display: flex;
	position: absolute;
	top: -2px;
	left: -10px;
	height: inherit;
	width: 30px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: #0065FC;
	background-color: #DEEBFF;
}
#results
{
	display: flex;
	align-items: center;
	height: 30px;
}
#results p
{
	margin: 0;
	padding-left: 10px;
}
#logo_info
{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #0065FC;
	font-size: 0.8em;
	width: 25px;
	height: 25px;
	border: 1px solid  #F2F2F2;
	border-radius: 50%;
}

/*section 2 hébergement + les plus populaires*/
#deuxieme_section
{
	display: flex;
	justify-content: space-between;
	height: auto;
}
#hebergements
{
	display: flex;
	flex-direction: column;
	width: 60%;
	min-width: 350px;
	padding: 20px;
	margin: 20px 0;
	background-color: #F2F2F2;
	border-radius: 20px;
}
#hebergements h2
{
	display: flex;
	margin: 20px;

	
}
#plus_hebergement
{
	display: block;
	display: flex;
	margin: 20px;
	text-decoration: none;
	color: black;
}
#galerie_hebergements
{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.carte_hebergement
{
	display: block;
	display: flex;
	flex-direction: column;
	width: 230px;
	padding: 5px;
	background-color: white;
	border-radius: 20px;
	text-decoration: none;
	box-shadow: 0 0 10px -2px #BFBEBD;
}
.carte_hebergement > h3
{
	margin: 5px 0;
	padding-left: 15px;
	color: black;
}
.carte_hebergement > p
{
	margin: 5px 0;
	padding-left: 15px;
	color: black;
}
.carte_hebergement p:last-child
{
	color: #0065FC;
}
.image_hebergement
{
	display: block;
	width: 230px;
	height: 105px;
	border-radius: 15px 15px 0 0;
}

/* Style les plus populaires */

#populaires 
{
	display: block;
	display: flex;
	flex-direction: column;
	max-width: 40%;
	margin: 20px 0;
	padding: 40px;
	background-color: #F2F2F2;
	border-radius: 20px;
}

#titre_populaire
{
	display: flex;
	justify-content: space-between;
}
#titre_populaire h2
{
	margin: 0;
}

.hebergements_populaires
{
	display: block;
	display: flex;
	width: 320px;
	margin: 40px 0 0 0;
	padding: 5px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 0 10px -2px #BFBEBD;
}

.image_populaire
{
	display: block;
	width: 130px;
	height: 150px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

/* style des activités */
#activites
{
	display: flex;
	flex-direction: column;
}
#activites h2
{
	margin: 0;
}
#galerie_activites
{
	display: flex;
	justify-content: space-between;
	height: 500px;
}

#vieux_port
{
	display: block;
	display: flex;
	flex-direction: column;
	border:1px solid black;
	width: 20%;
	height: 480px;
}
#img_vieux_port
{
	display: block;
	width: 100%;
	height: 420px;
}

#pomegues_frioul
{
	display: flex;
	flex-direction: column;
	width: 20%;
	height: 480px;
}

#pomegues
{
	display: block;
	display: flex;
	flex-direction: column;
	width: 100%;
	border:1px solid black;
}
#image_pomegues
{
	display: block;
	width: 100%;
	height: 220px;
}

#frioul
{
	display: block;
	display: flex;
	flex-direction: column;
	width: 100%;
	border: 1px solid black;
}
#image_frioul
{
	display: block;
}

#calanques
{
	display: block;
	display: flex;
	flex-direction: column;
	width: 20%;
	height: inherit;
	border:1px solid black;
}

#notre_dame_longchamp
{
	display: flex;
	flex-direction: column;
	width:20%;
}

#notre_dame
{
	display: block;
	display: flex;
	flex-direction: column;
	border:1px solid black;
}

#longchamp
{
	display: block;
	display: flex;
	flex-direction: column;
	border:1px solid black;
}